@import "./GothamProRegular.css";

:root {
    --white: #ffffff;
    --black: #000000;

    --gray-1: #222222;
    --gray-2: #656565;
    --gray-3: #a0a0a0;
    --gray-4: #e0e0e0;
    --gray-5: #f2f2f2;

    --green-1: #008329;
    --green-2: #37a000;
    --green-3: #a4dd83;
    --green-4: #ebf7ec;
    
    --form-shadow: 0 1px 6px rgba(57, 73, 76, .35);
    --input-shadow: insert 0 0 5px rgba(0, 0, 0, .3);
}

body {
    font-family: "GothamProRegular", sans-serif;
    font-size: inherit;
    font-weight: normal;
    color: var(--gray-1);
    background-color: var(--gray-5);
}

/*-- header --*/
.nav {
    background-color: var(--white);
    box-shadow: var(--form-shadow);
}

/* -- main -- */
.page-content { 
    background-color: var(--white);
    box-shadow: var(--form-shadow);
}

/* -- footer -- */


@media (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 12px;
    }
}
